# local env files
.env
.env*.local

# Ignorar o ambiente virtual
venv/

# Ignorar a pasta de configurações
configuracoes/

# Ignorar a pasta de mensagens
mensagens/

# Ignorar a pasta de arquivos
arquivos/

# Ignorar a pasta de temp
temp/

# Ignorar a pasta de media
media/

# Ignorar arquivos de cache do Python
__pycache__/

# Ignorar arquivos específicos de configuração do sistema operacional e IDE
.DS_Store
.idea/
.vscode/
